		body {
		}
		h1 {
			color: #FFC0CB;
			font-size: 20;
		}
		h2 {
			color: rgb(0,0,0);
			font-size:20;
			vertical-align: top;
		}
		h3 {

			color: #F0C0FF;
			font-size: 15px;
		}
		.space {
			text-indent: 550px;
			line-height: 0.1em;
		}
		.redline {


			overflow: hidden;
			background-color: #FAB6C4;
			height: 30px;
			width: 1200px;
			text-align: center;
			text-size = 25px;
		}
		.redline h1 {
			float: left;
			font-size: 25px;
		}
